:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --link-text-color: #2196F3;
  --logo-text-studio-color: #000000;
  --accent-text-color: #FFFFFF;
  --primary-background-color: #FFFFFF;
  --background-footer: #2F303A;
  --button-color: #2196F3;
  --secondary-background-color: #F5F4FA;
  --list-background-color: #EEEEEE;
  --border-color: #ECECEC;
  --icon-color: #AFB1B8;
  --item: 3;
  --indent: 30px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  margin: 0px;
}

ul {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.header__container {
  border-bottom: 1px;
  border: var(--border-color);
}

.header__menu {
  border-bottom: 1px solid var(--border-color);
}

.header__nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.header__logo {
  color: var(--link-text-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
}

.header__studio {
  text-decoration: none;
}

.header__studio {
  color: var(--logo-text-studio-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header__nav-site-contact, .header__list-contact {
  margin-right: auto;
  margin-left: auto;
}

.header__item {
  margin-right: 50px;
}

.header__item:last-child {
  margin-right: 0px;
}

.header__link, .header__title--active, .header__title {
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__title {
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__title:hover, .header__title:focus {
  color: var(--link-text-color);
}

.header__title--active {
  color: var(--link-text-color);
  font-family: inherit;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
}
.header__title--active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--link-text-color);
  position: absolute;
  bottom: 0;
  left: 0;
}

.header__item:first-child {
  margin-left: 0px;
}

.header__item:last-child {
  margin-right: 0px;
}

.header__link-contact {
  margin-right: 50px;
}

.header__link-contact:last-child {
  margin-right: 0px;
}

.contact {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link {
  color: var(--primary-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover, .header__link:focus {
  color: var(--link-text-color);
}

.header__icon {
  fill: currentColor;
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__icon:hover, .header__icon:focus {
  fill: currentColor;
}

.hero {
  text-align: center;
  padding: 200px 0;
  background-color: var(--background-footer);
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 0px) and (max-width: 479px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Header_img_sm.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Header_img_sm.jpg);
  }
}
@media screen and (min-width: 0px) and (max-width: 479px) and (min-device-pixel-ratio: 2), screen and (min-width: 0px) and (max-width: 479px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 0px) and (max-width: 479px) and (min-resolution: 192dpi), screen and (min-width: 0px) and (max-width: 479px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/Header_img@2x_sm.jpg);
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Header_img_md.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Header_img_md.jpg);
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/Header_img@2x_md.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    max-width: 100%;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Header_img_lg.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Header_img_lg.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/Header_img@2x_lg.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/Header_img@2x_lg.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Header_img@2x_lg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/Header_img@2x_sm.jpg);
  }
}

.hero__title {
  color: var(--accent-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  width: 696px;
  margin-top: 0px;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.6;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.6;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.7;
    margin-bottom: 30px;
  }
}

.hero__button {
  color: var(--accent-text-color);
  background-color: var(--link-text-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  border: transparent;
  padding: 10px 32px;
}

.hero--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.hero__backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.hero__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--accent-text-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .hero__modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 768px) {
  .hero__modal {
    width: 450px;
    height: 609px;
  }
}

.hero__modal-text {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 40px;
}

.hero__modal-contact-container {
  display: block;
  position: relative;
  margin-bottom: 10px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__modal-contact-container:hover, .hero__modal-contact-container:focus {
  color: var(--link-text-color);
}

.hero__modal-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.hero__contact-input {
  width: 100%;
  height: 40px;
  padding-top: 4px;
  padding-right: 6px;
  padding-bottom: 4px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__contact-input:hover, .hero__contact-input:focus {
  border: 1px solid var(--link-text-color);
  outline: none;
}

.hero__modal-icon {
  position: absolute;
  left: 12px;
  -webkit-transform: translateY(11px);
          transform: translateY(11px);
  fill: var(--title-text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__modal-icon:hover, .hero__modal-icon:focus {
  fill: var(--link-text-color);
}

.hero__modal-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.hero__modal-textarea {
  display: block;
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  resize: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__modal-textarea:hover, .hero__modal-textarea:focus {
  border: 1px solid var(--link-text-color);
}

.hero__form-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7px;
  margin-bottom: 30px;
}

.hero--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.hero__checkbox-input:checked + .hero__checkbox-custom {
  background-color: var(--link-text-color);
  outline: 2px solid var(--link-text-color);
}

.hero__checkbox-custom {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
  outline: 2px solid var(--title-text-color);
  outline-offset: -2px;
  border-radius: 2px;
  -webkit-transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__text-agreed {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.hero__modal--send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--accent-text-color);
  background: var(--button-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__modal--send:hover, .hero__modal--send:focus {
  background-color: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero__modal-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--link-text-color);
}

.hero--closes {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
}
.hero--closes:hover, .hero--closes:focus {
  fill: var(--link-text-color);
}

.hero__modal--close {
  height: 11px;
  width: 11px;
}
.hero__modal--close:hover, .hero__modal--close:focus {
  fill: var(--link-text-color);
}

.feature__section {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (min-width: 480px) {
  .feature__section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .feature__section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.feature__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  list-style-type: none;
}
@media screen and (min-width: 480px) {
  .feature__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    --item: 1;
  }
}
@media screen and (min-width: 768px) {
  .feature__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    --item: 2;
  }
}
@media screen and (min-width: 1200px) {
  .feature__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.feature__iconfill {
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 480px) {
  .feature__iconfill {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .feature__iconfill {
    width: 100%;
  }
}

.feature__item {
  padding: 0px;
  margin-right: 30px;
  text-decoration: none;
}
@media screen and (min-width: 480px) {
  .feature__item {
    margin-right: 0;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  .feature__item {
    margin-right: 0;
    gap: 30px;
  }
}

.feature__item:last-child {
  margin-right: 0px;
}

.feature__list-item {
  width: 270px;
  text-decoration: none;
}
@media screen and (min-width: 480px) {
  .feature__list-item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .feature__list-item {
    width: 354px;
  }
}

.feature__title {
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (min-width: 480px) {
  .feature__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .feature__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.feature__text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.activity__section {
  padding-bottom: 94px;
  margin-top: 0px;
}
@media screen and (min-width: 480px) {
  .activity__section {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .activity__section {
    display: none;
  }
}

.activity__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.activity__section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 50px;
}

.activity__list-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.activity__card {
  position: relative;
  margin: 0;
}

.activity__card img {
  display: block;
  max-width: 100%;
}

.activity__position {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--accent-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.activity__position-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-text-color);
  margin: 0;
}

.activity__list:not(:last-child) {
  margin-right: 30px;
}

.team {
  background-color: var(--secondary-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
  margin-bottom: 0px;
}
@media screen and (min-width: 480px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.team__section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 50px;
}
@media screen and (min-width: 480px) {
  .team__section-title {
    line-height: 1.18;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__section-title {
    line-height: 1.18;
    margin-bottom: 30px;
  }
}

.team__list-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  text-decoration: none;
}
@media screen and (min-width: 480px) {
  .team__list-all {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--item) - 1)) / var(--item));
        flex-basis: calc((100% - var(--indent) * (var(--item) - 1)) / var(--item));
  }
}
@media screen and (min-width: 768px) {
  .team__list-all {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--item) - 1)) / var(--item));
        flex-basis: calc((100% - var(--indent) * (var(--item) - 1)) / var(--item));
  }
}

.team__list {
  list-style-type: none;
  text-decoration: none;
  list-style-type: none;
  text-decoration: none;
  background-color: var(--primary-background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__list:not(:last-child) {
  margin-right: 30px;
}
@media screen and (min-width: 480px) {
  .team__list:not(:last-child) {
    margin-right: 0;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__list:not(:last-child) {
    margin-right: 0;
    gap: 30px;
  }
}

.team__section-title {
  margin-bottom: 50px;
}
@media screen and (min-width: 480px) {
  .team__section-title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__section-title {
    margin-bottom: 30px;
  }
}

.team__list img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team__description {
  margin-top: 30px;
}

.team__name {
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team__text {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team__socialicons-list {
  margin-left: 32px;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .team__socialicons-list {
    margin-left: 122px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .team__socialicons-list {
    margin-left: 74px;
    margin-bottom: 24px;
  }
}

.team__social-icons {
  text-decoration: none;
  fill: currentColor;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social-icons:hover, .team__social-icons:focus {
  fill: currentColor;
}

.team__icons {
  margin-right: 10px;
  text-decoration: none;
}
.team__link:hover .team__icons, .team__link:focus .team__icons {
  border-radius: 50%;
  background-color: #2196F3;
  color: var(--accent-text-color);
}

.team__icons:last-child {
  margin-right: 0px;
}

.team__link {
  color: var(--primary-text-color);
  font-family: inherit;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link:hover, .team__link:focus {
  color: var(--link-text-color);
}

.team__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  color: var(--icon-color);
  -webkit-transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social-link:hover, .team__social-link:focus {
  border-radius: 50%;
  background-color: #2196F3;
  color: var(--accent-text-color);
}

.client__section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-bottom: 0px;
}
@media screen and (min-width: 480px) {
  .client__section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .client__section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.client__section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 50px;
}
@media screen and (min-width: 480px) {
  .client__section-title {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .client__section-title {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  text-decoration: none;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .client__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    --item: 2;
  }
}
@media screen and (min-width: 768px) {
  .client__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    --item: 3;
  }
}
@media screen and (min-width: 1200px) {
  .client__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.clients__link {
  color: var(--primary-text-color);
  font-family: inherit;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--icon-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__link:hover,
.clients__link:focus {
  fill: var(--icon-color);
  color: var(--link-text-color);
}

.client__icons {
  margin-right: 30px;
  width: 170px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__icons:hover, .client__icons:focus {
  border: 1px solid #2196F3;
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .client__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--item) - 1)) / var(--item));
        flex-basis: calc((100% - var(--indent) * (var(--item) - 1)) / var(--item));
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .client__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--item) - 1)) / var(--item));
        flex-basis: calc((100% - var(--indent) * (var(--item) - 1)) / var(--item));
    width: 226px;
  }
}

.client__social-icons {
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__social-icons:hover, .client__social-icons:focus {
  fill: currentColor;
}

.client__icons:last-child {
  margin-right: 0px;
}

.footer__section {
  background-color: var(--background-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 480px) {
  .footer__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.footer__ancors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (min-width: 480px) {
  .footer__ancors {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .footer__ancors {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__logo {
  color: var(--link-text-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 0px;
  margin-right: 0;
}
@media screen and (min-width: 480px) {
  .footer__logo {
    font-size: 24px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 768px) {
  .footer__logo {
    font-size: 24px;
    line-height: 1.17;
  }
}

.footer__studio {
  color: var(--primary-background-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 480px) {
  .footer__studio {
    font-size: 24px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 768px) {
  .footer__studio {
    font-size: 24px;
    line-height: 1.17;
  }
}

.footer__address {
  color: var(--accent-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}

@media screen and (min-width: 480px) {
  .footer-social {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .footer-social {
    margin-bottom: 20px;
  }
}

.footer__socialicons {
  margin: 0;
}

.footer__icons {
  margin-right: 10px;
  text-decoration: none;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--accent-text-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  fill: var(--accent-text-color);
  background-color: #2196F3;
}

.footer__connect-icons {
  fill: var(--accent-text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__connect-icons:hover, .footer__connect-icons:focus {
  fill: var(--accent-text-color);
}

.footer__contact-container {
  margin-right: 70px;
}
@media screen and (min-width: 480px) {
  .footer__contact-container {
    margin-bottom: 60px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__contact-container {
    margin-right: 165px;
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  text-decoration: none;
}

.footer__address-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style-type: none;
  text-decoration: none;
}
@media screen and (min-width: 480px) {
  .footer__address-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .footer__address-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer__contact-list:not(:last-child) {
  margin-bottom: 9px;
}
@media screen and (min-width: 480px) {
  .footer__contact-list:not(:last-child) {
    margin-bottom: 0;
    gap: 9px;
  }
}
@media screen and (min-width: 768px) {
  .footer__contact-list:not(:last-child) {
    margin-bottom: 0;
    gap: 9px;
  }
}

.footer__contact {
  color: var(--accent-text-color);
  opacity: 0.6;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer__title {
  color: var(--accent-text-color);
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
@media screen and (min-width: 480px) {
  .footer__title {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .footer__title {
    margin-bottom: 20px;
  }
}

.footer__subscribe {
  position: relative;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .footer__subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .footer__subscribe {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer__title-send {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-text-color);
}
@media screen and (min-width: 480px) {
  .footer__title-send {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .footer__title-send {
    margin-bottom: 20px;
  }
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__mail {
  position: relative;
}
@media screen and (min-width: 480px) {
  .footer__mail {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .footer__mail {
    margin-bottom: 20px;
  }
}

.footer__input-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--accent-text-color);
  background: var(--button-color);
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-transform: none;
}

.footer__icon-btn {
  margin-left: 10px;
  top: 10;
  right: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  text-decoration: none;
  list-style-type: none;
}
@media screen and (min-width: 480px) {
  .portfolio__btn-list {
    margin-bottom: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__btn-list {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  list-style-type: none;
}

.portfolio__btn {
  background-color: var(--secondary-background-color);
  color: var(--title-text-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  margin-left: 8px;
  padding: 6px 22px;
  border-radius: 4px;
  border: var(--secondary-background-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__btn:hover, .portfolio__btn::after {
  color: var(--accent-text-color);
  background-color: var(--link-text-color);
}
@media screen and (min-width: 480px) {
  .portfolio__btn {
    margin-left: 0;
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px;
    gap: 8px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__btn {
    margin-left: 0;
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px;
    gap: 8px;
  }
}

.portfolio--current-button {
  color: var(--accent-text-color);
  background-color: var(--link-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  border: var(--link-text-color);
}

.portfolio__section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__container {
  margin: 0px;
  padding: 0px;
}

.portfolio__container > .portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__card-list {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  text-decoration: none;
  list-style-type: none;
  border: 1px;
  border: var(--list-background-color);
  border-bottom: 1px solid var(--list-background-color);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__card-list:hover, .portfolio__card-list:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .portfolio__card-list {
    --item: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__card-list {
    --item: 2;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__card-list {
    --item: 3;
  }
}

.portfolio__card-list:nth-child(3n) {
  margin-right: 0px;
}

.portfolio__card-list:nth-last-child(-n+3) {
  margin-bottom: 0px;
}

.portfolio__card-list a img {
  display: block;
  max-width: 100%;
  height: auto;
}

.portfolio__ancor {
  text-decoration: none;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .portfolio__ancor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

.portfolio__inscription {
  padding: 20px 24px;
  border-bottom: 1px solid var(--list-background-color);
  border-right: 1px solid var(--list-background-color);
  border-left: 1px solid var(--list-background-color);
}
@media screen and (min-width: 768px) {
  .portfolio__inscription--grow {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.portfolio__title {
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
  margin-bottom: 4px;
}

.portfolio__text {
  color: var(--primary-text-color);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.portfolio__text-position {
  position: relative;
  overflow: hidden;
}

.portfolio__text-item {
  display: block;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  opacity: 0;
}
.portfolio__ancor:hover .portfolio__text-item, .portfolio__ancor:focus .portfolio__text-item {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
@media screen and (min-width: 480px) {
  .portfolio__text-item {
    padding: 77px 24px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__text-item {
    padding: 49px 24px 77px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__text-item {
    padding: 63px 24px;
  }
}

.mobile-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  list-style-type: none;
}

.mobile-menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  margin-left: auto;
  cursor: pointer;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}

.mobile-menu-icon {
  fill: var(--title-text-color);
  -webkit-transition: fill var(--anim);
  transition: fill var(--anim);
}

.mobile-menu-btn:hover .mobile-menu-icon,
.mobile-menu-btn:focus .mobile-menu-icon {
  fill: var(--accent-color);
}

.mobile-menu-open {
  -webkit-transition: var(--anim);
  transition: var(--anim);
}
.mobile-menu-btn.is-open .mobile-menu-open {
  opacity: 0;
}

.mobile-menu-close {
  opacity: 0;
  -webkit-transition: var(--anim);
  transition: var(--anim);
}
.mobile-menu-btn.is-open .mobile-menu-close {
  opacity: 1;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--primary-bg-color);
}
.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.mobile-menu-nav__link--current {
  color: var(--accent-color);
}

.mobile-menu-contacts {
  margin-bottom: 64px;
}

.mobile-menu-contacts__item:first-child {
  margin-bottom: 32px;
}

.mobile-menu-contacts__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.mobile-menu-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 48px;
}

.mobile-menu-socials__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu-socials__item:not(:last-child) .mobile-menu-socials__link {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}/*# sourceMappingURL=main.css.map */