:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --link-text-color: #2196F3;
    --logo-text-studio-color: #000000;
    --accent-text-color: #FFFFFF;
    --primary-background-color: #FFFFFF;
    --background-footer: #2F303A;
    --button-color: #2196F3;
    --secondary-background-color: #F5F4FA;
    --list-background-color: #EEEEEE;
    --border-color: #ECECEC;
    --icon-color: #AFB1B8;
    --item: 3;
    --indent: 30px;
}